<form class="login" [formGroup]="loginForm" (ngSubmit)="reset()">
  <h4>Digita tu correo y una nueva clave te llegará</h4>
  <div class="form-wrapper">
    <mat-form-field class="full-width">
      <input matInput placeholder="Usuario" formControlName="userName">
    </mat-form-field>
    <button mat-raised-button>
      <span *ngIf="!loader">Restaurar</span>
      <mat-spinner *ngIf="loader" diameter="20" color="accent"></mat-spinner>
    </button>
  </div>
</form>
