<header>
  <button class="menu" (click)="openMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="logo" (click)="redirect()">Belltronic</span>
  <span class="welcome-title">{{employeeName}}</span>
  <section class="sections">
    <nav class="links">
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="simcardsMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Simcards
        </button>
        <div class="dropdown-menu" aria-labelledby="simcardsMenuButton">
          <a class="dropdown-item" routerLink="/dashboard/search">Buscar</a>
          <a class="dropdown-item" *ngIf="isAdmin || isSub" routerLink="/dashboard/pack">Empaquetar</a>
        </div>
      </div>
      <div class="dropdown" *ngIf="subsLoaded">
        <button class="btn dropdown-toggle" type="button" id="finanzasMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Finanzas
        </button>
        <div class="dropdown-menu" aria-labelledby="finanzasMenuButton">
          <a class="dropdown-item" routerLink="/dashboard/commissions">Comisiones</a>
          <a class="dropdown-item" *ngIf="isAdmin || isSub" routerLink="/dashboard/production">Produccion</a>
          <a class="dropdown-item" *ngIf="isAdmin || isSub" routerLink="/dashboard/recharges">Recargas</a>
        </div>
      </div>
      <div class="dropdown" *ngIf="subsLoaded">
        <button class="btn dropdown-toggle" type="button" id="fileMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Archivos
        </button>
        <div class="dropdown-menu" aria-labelledby="fileMenuButton">
          <a class="dropdown-item" routerLink="/dashboard/reports">Reportes</a>
          <a class="dropdown-item" routerLink="/dashboard/upload">Subida</a>
        </div>
      </div>
      <div class="dropdown" *ngIf="subsLoaded">
        <button class="btn dropdown-toggle" type="button" id="adminMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Administración
        </button>
        <div class="dropdown-menu" aria-labelledby="adminMenuButton">
          <a class="dropdown-item" routerLink="/dashboard/employees">Empleados</a>
        </div>
      </div>
    </nav>
  </section>
</header>
