header
  align-items: center
  display: flex
  justify-content: space-between
  padding: 0.75em
  height: 3rem
  margin-bottom: 2rem
  background-color: rgba(13, 36, 60, .8)
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3)
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3)
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3)

  .logo
    z-index: 100
    font-size: 1.5em
    font-family: 'Pacifico', cursive
    color: white
    cursor: pointer

    &:hover
      color: rgba(13, 36, 60, .6)

  .welcome-title
    font-family: 'Pacifico', cursive
    color: white
    position: absolute
    font-size: 1.5em
    display: none

    @media (min-width: 850px)
      display: block
      width: 100%
      text-align: center

  .menu
    border: none
    background: none

    mat-icon
      color: white
    @media (min-width: 412px)
      display: none

  .sections
    z-index: 100
    display: flex

    .links
      display: flex
      width: 100%

      .btn
        background: none
        border: none
        color: white

        a
          color: white
          text-decoration: none

      @media (max-width: 412px)
        display: none
