<div class="general-wrapper">
  <div class="periods-selector">
    <mat-form-field *ngIf="employeeRole === 'ADMIN'">
      <mat-select placeholder="Subdistribuidor" [(value)]="subSelected" (selectionChange)="refreshSubdistributor()">
        <mat-option *ngFor="let sub of subList" [value]="sub">
          {{ sub }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="allWholesalers" *ngIf="userType === 'SUBDISTRIBUTOR' || employeeRole === 'ADMIN'"
                  (change)="refreshPeriods()">
      Todos
    </mat-checkbox>

    <mat-form-field *ngIf="(userType === 'SUBDISTRIBUTOR' || employeeRole === 'ADMIN') && !allWholesalers">
      <mat-select placeholder="Mayorista" [(value)]="wholesalerSelected" (selectionChange)="refreshWholesaler()"
                  [disabled]="loader">
        <mat-option *ngFor="let employee of employeeList" [value]="employee.identification">
          {{ employee.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Periodos" [(value)]="periodSelected" [disabled]="loader">
        <mat-option *ngFor="let period of periods" [value]="period.value">
          {{ period.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button (click)="refreshCharts()" [disabled]="periodSelected == undefined">
      <span *ngIf="!loader">Buscar</span>
      <mat-spinner *ngIf="loader" diameter="20" color="accent"></mat-spinner>
    </button>
  </div>

  <div *ngIf="commissionResume" class="commission-table">
    <h2 class="section-title">Comisiones</h2>

    <mat-table #table [dataSource]="commissionResume" class="mat-elevation-z8">
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Descripción</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="prepaid">
        <mat-header-cell *matHeaderCellDef> Prepago</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.prepaid}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="free">
        <mat-header-cell *matHeaderCellDef> Libre</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.free}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <h2 class="total-label">Total: <span>{{totalCommission}}</span></h2>
  </div>

  <div class="wrapper">
    <div class="graph-wrapper">
      <div>
        <canvas id="commissionsByPeriod">{{ commissionsChartByPeriod }}</canvas>
      </div>
      <h3 *ngIf="commissionsChartByPeriod">Comisiones por periodo</h3>
    </div>

    <div class="graph-wrapper" *ngIf="!allWholesalers">
      <div>
        <canvas id="projectionByPeriod">{{ projectionChartByPeriod }}</canvas>
      </div>
      <h3 *ngIf="projectionChartByPeriod">Proyección por periodo</h3>
    </div>
  </div>
</div>
