*
    outline: none

body
    background: #e2e1e0

form>.title
    margin: 0
    text-align: center
    
// Forms
.form-wrapper, .result-wrapper
    display: flex
    flex-direction: column
    width: 80%
    margin: 0 auto
    padding: 2rem
    text-align: center
    
    .full-width
        width: 100%

.form-wrapper.inside
    padding: 0

.result-wrapper
    @media only screen and (min-width : 412px)
        flex-direction: row
        justify-content: space-around
        flex-wrap: wrap

.radio-group-space
    display: flex
    justify-content: space-between

// Errors
.message-error
    color: red
    display: block
    margin: 0 auto
    max-width: 80%
    text-align: center

// Results
.section
    margin-bottom: 1rem
    min-width: 5rem

    .title
        margin: 0

    .value
        margin: 0

    &:last-child
        margin-bottom: 0

// General wrappers
.general-wrapper
    margin: 0 auto
    max-width: 1280px

// Loader
mat-spinner
    margin: 0 auto

button
    height: 37px

// Icons
mat-icon.default-size
    font-size: 1rem
