<div class="general-wrapper">
  <form class="report-form">
    <h2 class="title">Reporte Asignación Mayoristas</h2>
    <p *ngIf="userType === 'SUBDISTRIBUTOR' || employeeRole === 'ADMIN'">Selecciona el mayorista y descarga el reporte
      de simcards asociadas</p>
    <p *ngIf="userType !== 'SUBDISTRIBUTOR' && employeeRole !== 'ADMIN'">Aguarda un segundo, el reporte se descargará en
      breve</p>
    <div class="form-wrapper">
      <mat-form-field class="full-width" *ngIf="employeeRole === 'ADMIN'">
        <mat-select placeholder="Subdistribuidor" [(value)]="subSelected"
                    (selectionChange)="refreshSubDistributor()">
          <mat-option *ngFor="let subdistributor of subList" [value]="subdistributor">
            {{subdistributor}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width" *ngIf="userType === 'SUBDISTRIBUTOR' || employeeRole === 'ADMIN'">
        <mat-select placeholder="Mayorista" [(value)]="wholesalerSelected">
          <mat-option *ngFor="let employee of employeeList" [value]="employee.identification">
            {{ employee.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button (click)="downloadReport()" [disabled]="wholesalerSelected == undefined"
              *ngIf="userType === 'SUBDISTRIBUTOR' || employeeRole === 'ADMIN'">
        <span *ngIf="!loader">Descargar</span>
        <mat-spinner *ngIf="loader" diameter="20" color="accent"></mat-spinner>
      </button>
    </div>
  </form>
</div>
