mat-card
  margin: 5%

.unassign-btn
  background-color: gray !important
  margin-top: 10px

.search-form
  h2
    mat-icon
      margin-left: 10px
      color: lightgray
      cursor: pointer

      &:hover
        color: #1C4A75
  p
    text-align: center
    padding: 10px
  .form-wrapper
    width: 70%
  button
    background-color: rgba(13, 36, 60, .8)
    color: white
    border-radius: 10px

    &:hover
      background-color: rgba(13, 36, 60, .9)

.message-error
  margin-top: 30px

.status
  margin-top: 30px

.status
  display: block
  text-align: center

  .color
    display: inline-block
    height: 15px
    width: 15px
    border-radius: 50%
    margin: 0 0.2rem
    vertical-align: middle

    &.green
      background-color: #7FCA9F

    &.red
      background-color: #ff656c

    &.blue
      background-color: #85C1F5

.result-wrapper
  max-width: 700px
  display: flex

  .employee-section
    cursor: pointer

  .section

    border-radius: 15px
    padding: 10px
    margin: 5px
    flex-grow: 2
    font-family: Roboto, "Helvetica Neue", sans-serif

    &.green
      background-color: #7FCA9F

      &:hover
        background-color: #3f654f

    &.red
      background-color: #DB5466

      &:hover
        background-color: #7f3236

    &.blue
      background-color: #85C1F5

      &:hover
        background-color: #4A789C

    h3
      color: white
      margin-top: 10px
      font-size: 15px
    p
      color: white
      font-size: 10px
