<div class="general-wrapper">
  <mat-card>
    <form class="search-form" [formGroup]="searchForm" (ngSubmit)="search()">
      <h2 class="title">Encuentra tus Simcards</h2>
      <p>Ingresa la ICC o el numero de telefono. Recuerda que <span class="red-text">Rojo</span> es Vencida, <span
        class="blue-text">Azul</span> es Disponible y <span class="green-text">Verde</span> es Activada.</p>
      <div class="form-wrapper">
        <mat-form-field class="full-width">
          <input matInput placeholder="ICC / Numero" formControlName="identification">
        </mat-form-field>
        <button mat-raised-button>
          <span *ngIf="!loader">Buscar</span>
          <mat-spinner *ngIf="loader" diameter="20" color="accent"></mat-spinner>
        </button>
        <button mat-raised-button class="unassign-btn" *ngIf="simInfo?.employeeIdentification != undefined && isAdmin"
                (click)="unassign($event)">
          <span *ngIf="!loader">Desasignar</span>
          <mat-spinner *ngIf="loader" diameter="20" color="accent"></mat-spinner>
        </button>
      </div>
    </form>
  </mat-card>

  <span class="status" *ngIf="results">Estado:
    <span
      [ngClass]="{'color': true,
      'green': simStatus === 'Activada' ? true: false,
      'red': simStatus === 'Vencida' ? true: false,
      'blue': simStatus === 'Disponible' ? true: false}"
    >
    </span>{{ simStatus }}</span>

  <div class="result-wrapper" *ngIf="results">
    <section
      [ngClass]="{'section': true,
      'green': simStatus === 'Activada' ? true: false,
      'red': simStatus === 'Vencida' ? true: false,
      'blue': simStatus === 'Disponible' ? true: false}"
    >
      <p class="title">ICC</p>
      <h3 class="value">{{ simInfo?.icc }}</h3>
    </section>

    <section
      [ngClass]="{'section': true,
      'green': simStatus === 'Activada' ? true: false,
      'red': simStatus === 'Vencida' ? true: false,
      'blue': simStatus === 'Disponible' ? true: false}"
    >
      <p class="title">Telefono</p>
      <h3 class="value">{{ simInfo?.number }}</h3>
    </section>

    <section
      [ngClass]="{'section': true,
      'green': simStatus === 'Activada' ? true: false,
      'red': simStatus === 'Vencida' ? true: false,
      'blue': simStatus === 'Disponible' ? true: false}"
    >
      <p class="title">Paquete</p>
      <h3 class="value" *ngIf="simInfo?.pack != null">{{ simInfo?.pack }}</h3>
      <h3 class="value" *ngIf="simInfo?.pack == null">NA</h3>
    </section>

    <section
      [ngClass]="{'section': true,
      'green': simStatus === 'Activada' ? true: false,
      'red': simStatus === 'Vencida' ? true: false,
      'blue': simStatus === 'Disponible' ? true: false}"
    >
      <p class="title">Tipo</p>
      <h3 class="value">{{simInfo?.typeName}}</h3>
    </section>

    <section
      *ngIf="simInfo?.type == 2"
      [ngClass]="{'section': true,
      'green': simStatus === 'Activada' ? true: false,
      'red': simStatus === 'Vencida' ? true: false,
      'blue': simStatus === 'Disponible' ? true: false}"
    >
      <p class="title">Plan</p>
      <h3 class="value">{{simInfo?.plan}}</h3>
    </section>

    <section
      *ngIf="simInfo?.type == 2"
      [ngClass]="{'section': true,
      'green': simStatus === 'Activada' ? true: false,
      'red': simStatus === 'Vencida' ? true: false,
      'blue': simStatus === 'Disponible' ? true: false}"
    >
      <p class="title">Valor</p>
      <h3 class="value">{{simInfo?.value}}</h3>
    </section>

    <section
      [ngClass]="{'section': true,
      'green': simStatus === 'Activada' ? true: false,
      'red': simStatus === 'Vencida' ? true: false,
      'blue': simStatus === 'Disponible' ? true: false}"
    >
      <p class="title">Subdistribuidor</p>
      <h3 class="value" *ngIf="simInfo?.subDistributorName != null">{{ simInfo?.subDistributorName }}</h3>
      <h3 class="value" *ngIf="simInfo?.subDistributorName == null">No Asignada</h3>
    </section>

    <section
      [ngClass]="{'section': true, 'employee-section': true,
      'green': simStatus === 'Activada' ? true: false,
      'red': simStatus === 'Vencida' ? true: false,
      'blue': simStatus === 'Disponible' ? true: false}"
      (click)="openAssignDialog()"
    >
      <p class="title">Propietario</p>
      <h3 class="value" *ngIf="simInfo?.employeeName != null">{{ simInfo?.employeeName }}</h3>
      <h3 class="value" *ngIf="simInfo?.employeeName == null">No Asignada</h3>
    </section>

    <section
      [ngClass]="{'section': true,
      'green': simStatus === 'Activada' ? true: false,
      'red': simStatus === 'Vencida' ? true: false,
      'blue': simStatus === 'Disponible' ? true: false}"
    >
      <p class="title">Vence</p>
      <h3 class="value">{{ simInfo?.dueDate }}</h3>
    </section>

    <section
      [ngClass]="{'section': true,
      'green': simStatus === 'Activada' ? true: false,
      'red': simStatus === 'Vencida' ? true: false,
      'blue': simStatus === 'Disponible' ? true: false}"
    >
      <p class="title">Activada</p>
      <h3 class="value" *ngIf="simInfo?.activationDate != null">{{ simInfo?.activationDate }}</h3>
      <h3 class="value" *ngIf="simInfo?.activationDate == null">No Activada</h3>
    </section>

    <section
      [ngClass]="{'section': true,
      'green': simStatus === 'Activada' ? true: false,
      'red': simStatus === 'Vencida' ? true: false,
      'blue': simStatus === 'Disponible' ? true: false}"
    >
      <p class="title">Entregada</p>
      <h3 class="value">{{ simInfo?.deliveryDate }}</h3>
    </section>
  </div>
</div>
