<div class="general-wrapper">
  <h2></h2>
  <form class="assign-form" [formGroup]="assignForm" (ngSubmit)="assignSimcard()">
    <h2 class="title">Asignación Simcard</h2>
    <p>Selecciona el empleado al cual deseas asignar esta simcard</p>
    <div class="form-wrapper">
      <mat-form-field class="full-width">
        <mat-select placeholder="Empleado" [(value)]="employeeIdentification" [formControl]="employeeControl" required>
          <mat-option *ngFor="let employee of employees" [value]="employee.identification">
            {{employee.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="employeeControl.hasError('required')">Seleccione un empleado</mat-error>
      </mat-form-field>

      <button mat-raised-button *ngIf="!loader">
        <span >Asignar</span>
      </button>
    </div>
  </form>
</div>
