.assign-form
  h2
    mat-icon
      margin-left: 10px
      color: lightgray
      cursor: pointer

      &:hover
        color: #1C4A75
  p
    text-align: center
    padding: 10px
  .form-wrapper
    width: 70%
  button
    background-color: rgba(13, 36, 60, .8)
    color: white
    border-radius: 10px

    &:hover
      background-color: rgba(13, 36, 60, .9)
