<mat-card class="modal" [ngClass]="{'display': display}">
    <span class="close" (click)="closeModal()">X</span>
    <form [formGroup]="infoForm" (ngSubmit)="updateInfo()" class="form-wrapper inside">
        <h3>Datos Mayorista</h3>
        <mat-form-field class="full-width">
          <input matInput placeholder="Identificación" formControlName="identification">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nombre" formControlName="name">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Locatable" formControlName="locatable">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Telefono" formControlName="phone">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Direccion" formControlName="address">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Comision" formControlName="commission">
        </mat-form-field>
        <button mat-raised-button color="primary">Actualizar</button>
        <button mat-raised-button color="warn" class="delete">Eliminar</button>
    </form>
</mat-card>
