.modal
    display: none
    min-height: 5rem
    width: 80%
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    .close
        position: absolute
        top: 1rem
        right: 1rem

    .delete
        margin-top: 0.8rem

.display
    display: block