<div class="general-wrapper">
  <mat-card>
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form class="search-form" [formGroup]="firstFormGroup">
          <h2 class="title">Empaqueta tus Simcards</h2>
          <p>Primero establece el tamaño del paquete que quieres armar</p>
          <div class="form-wrapper">
            <mat-form-field class="full-width">
              <input matInput type="number" min="0" placeholder="30" formControlName="packSize" [(ngModel)]="packSize"
                     name="packSize" required>
            </mat-form-field>
            <mat-checkbox class="new-pack-opt" [(ngModel)]="newPack" formControlName="newPack">
              Nuevo Paquete
            </mat-checkbox>
            <button mat-raised-button matStepperNext
                    [disabled]="packSize === undefined || packSize === null || packSize <= 0">Comenzar
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form class="search-form">
          <h2 class="title">Empaqueta tus Simcards</h2>
          <p>Ingresa la ICC o el numero de telefono. Recuerda que <span class="red-text">Rojo</span> es Vencida, <span
            class="blue-text">Azul</span> es Disponible y <span class="green-text">Verde</span> es Activada.</p>
          <div class="form-wrapper">
            <mat-form-field class="full-width">
              <input matInput placeholder="ICC / Numero" [(ngModel)]="simNumber" name="simNumber" #simNumberInput>
            </mat-form-field>
            <div class="search-btn-wrapper">
              <button mat-raised-button (click)="search()" [disabled]="simcards.length >= packSize">
                <span *ngIf="!loader">Buscar</span>
                <mat-spinner *ngIf="loader" diameter="20" color="accent"></mat-spinner>
              </button>
              <button mat-raised-button class="clean-btn" (click)="clean()">
                <span *ngIf="!loader">Limpiar</span>
                <mat-spinner *ngIf="loader" diameter="20" color="accent"></mat-spinner>
              </button>
            </div>
          </div>
          <mat-progress-bar mode="determinate" [value]="(simcards.length/packSize)*100"></mat-progress-bar>
          <p>{{simcards.length}}/{{packSize}}</p>
          <div class="pack-btn-wrapper">
            <button mat-raised-button matStepperNext class="pack-btn"
                    *ngIf="simcards.length === packSize && !updatingPack"
                    (click)="packSims()">
              <span *ngIf="!loader">Empaquetar</span>
              <mat-spinner *ngIf="loader" diameter="20" color="accent"></mat-spinner>
            </button>
            <button mat-raised-button class="pack-btn" *ngIf="simcards.length === packSize && updatingPack"
                    (click)="updatePack()">
              <span *ngIf="!loader">Actualizar</span>
              <mat-spinner *ngIf="loader" diameter="20" color="accent"></mat-spinner>
            </button>
            <button mat-raised-button class="pack-btn" *ngIf="simcards.length > 0 && isAdmin"
                    (click)="unassignPack()" style="margin-top:10px">
              <span *ngIf="!loader">Desasignar</span>
              <mat-spinner *ngIf="loader" diameter="20" color="accent"></mat-spinner>
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <form class="resume-form">
          <h4>Resumen</h4>
          <p><strong>Paquete: </strong>{{packedSimcardNumber}}</p>
          <p><strong>Simcards: </strong>
          <div class="resume-sims-wrapper">
            <div *ngFor="let simcard of resumeSimcards" [ngClass]="{'resume-item': true,
                'green': resumeStates[simcard.number] === 'Activada' ? true: false,
                'red': resumeStates[simcard.number] === 'Vencida' ? true: false,
                'blue': resumeStates[simcard.number] === 'Disponible' ? true: false}">{{simcard.number}}
            </div>
          </div>
          <p>Si quieres puedes asignar este paquete a un mayorista</p>
          <div class="assignation-selector">
            <mat-form-field *ngIf="isAdmin">
              <mat-select placeholder="Subdistribuidor" [(value)]="subSelected"
                          (selectionChange)="refreshSubdistributor()">
                <mat-option *ngFor="let sub of subList" [value]="sub">
                  {{ sub }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Mayorista" [(value)]="wholesalerSelected" [disabled]="loader">
                <mat-option *ngFor="let employee of employeeList" [value]="employee.identification">
                  {{ employee.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-wrapper">
            <button mat-raised-button (click)="assignPack()" [disabled]="wholesalerSelected === undefined">
              <span *ngIf="!loader">Asignar</span>
              <mat-spinner *ngIf="loader" diameter="20" color="accent"></mat-spinner>
            </button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>

  <div class="pack-wrapper">
      <span class="sim-info" *ngFor="let simcard of simcards"
            [ngClass]="{'color': true,
      'green': states[simcard.number] === 'Activada' ? true: false,
      'red': states[simcard.number] === 'Vencida' ? true: false,
      'blue': states[simcard.number] === 'Disponible' ? true: false}"
            (click)="removeSim(simcard)"
      >
        {{simcard.number}}
        <span class="subdistributor-name">{{simcard.subDistributorName}}</span>
      </span>
  </div>
</div>
