mat-card
  margin: 5%

.search-form
  h2
    mat-icon
      margin-left: 10px
      color: lightgray
      cursor: pointer

      &:hover
        color: #1C4A75
  p
    text-align: center
    padding: 10px
  .form-wrapper
    width: 70%

    .new-pack-opt
      margin-bottom: 5px

  button
    background-color: rgba(13, 36, 60, .8)
    color: white
    border-radius: 10px

    &:disabled
      background-color: rgba(0, 0, 0, .12)

    &:hover:enabled
      background-color: rgba(13, 36, 60, .9)

.pack-wrapper
  max-width: 100%
  padding: 0 4rem
  display: flex
  flex-wrap: wrap

  .sim-info
    cursor: pointer
    text-align: center
    border-radius: 15px
    padding: 10px
    margin: 5px
    flex-grow: 2
    font-family: Roboto, "Helvetica Neue", sans-serif

    &.green
      background-color: #7FCA9F

      &:hover
        background-color: #3f654f

    &.red
      background-color: #DB5466

      &:hover
        background-color: #7f3236

    &.blue
      background-color: #85C1F5

      &:hover
        background-color: #4A789C

    h3
      color: white
      margin-top: 10px
      font-size: 15px
    p
      color: white
      font-size: 10px

    .subdistributor-name
      font-size: 12px
      color: black

.pack-btn-wrapper
  width: 100%
  text-align: center
  .pack-btn
    width: 70%
    background-color: rgba(13, 36, 60, .8)
    color: white
    border-radius: 10px

    &:disabled
      background-color: rgba(0, 0, 0, .12)

    &:hover:enabled
      background-color: rgba(13, 36, 60, .9)

.search-btn-wrapper
  width: 100%
  text-align: center
  display: flex
  flex-wrap: wrap

  button
    width: 45%
    flex-grow: 2
    margin: 5px

    &.clean-btn
      background-color: lightgray

      &:hover
        background-color: gray

.resume-form
  h4
    width: 100%
    text-align: center

  p
    margin-top: 10px

  .assignation-selector
    display: flex
    justify-content: center
    flex-direction: column
    width: 80%
    margin: 25px auto 0

  button
    background-color: rgba(13, 36, 60, .8)
    color: white
    border-radius: 10px

    &:disabled
      background-color: rgba(0, 0, 0, .12)

    &:hover:enabled
      background-color: rgba(13, 36, 60, .9)

  .resume-sims-wrapper
    display: flex
    justify-content: center
    flex-wrap: wrap

    .resume-item
      border-radius: 5px
      padding: 5px
      margin: 5px
      text-align: center

      &.green
        background-color: #7FCA9F

        &:hover
          background-color: #3f654f

      &.red
        background-color: #DB5466

        &:hover
          background-color: #7f3236

      &.blue
        background-color: #85C1F5

        &:hover
          background-color: #4A789C

