<bell-header (menu)="openMenu()"></bell-header>
<router-outlet></router-outlet>
<notifier-container></notifier-container>

<bell-side-menu [display]="displayMenu" (close)="closeMenu()"></bell-side-menu>
