<div class="general-wrapper">
  <mat-accordion>
    <mat-expansion-panel *ngIf="employeeType !== 'DISTRIBUTOR'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cambiar contraseña
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup]="basicInfoForm" (ngSubmit)="changePassword()" class="form-wrapper inside">
        <mat-form-field class="full-width">
          <input matInput placeholder="Correo" formControlName="mail">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nueva Contraseña" formControlName="newPassword">
        </mat-form-field>
        <button mat-raised-button color="primary">Actualizar</button>
      </form>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                         *ngIf="employeeType !== 'EMPLOYEE'">
      <mat-expansion-panel-header>
        <mat-panel-title *ngIf="employeeType === 'DISTRIBUTOR'">
          Subdistribuidores
        </mat-panel-title>
        <mat-panel-title *ngIf="employeeType === 'SUBDISTRIBUTOR'">
          Mayoristas
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form *ngIf="employeeRole === 'ADMIN'" [formGroup]="subDistributorForm" class="form-wrapper inside">
        <p>Escoge un subdistribuidor y podras modificar sus mayoristas.</p>
        <mat-form-field class="full-width">
          <mat-select placeholder="Subdistribuidor" [(value)]="subSelected" (selectionChange)="getSubDis()">
            <mat-option value="Todos">
              Todos
            </mat-option>
            <mat-option *ngFor="let sub of subList" [value]="sub">
              {{ sub }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <!--Subdistributors and Wholesalers for Distributor-->
      <div *ngIf="employeeType === 'SUBDISTRIBUTOR' && subSelected === 'Todos'">
        <p>En esta sección podras modificar los datos del subdistribuidor.</p>
        <mat-accordion>
          <mat-expansion-panel class="subdistributor" *ngFor="let subdistributor  of subdistributors; let i = index">

            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ subdistributor.name }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <form class="form-wrapper inside">
              <mat-form-field class="full-width">
                <input matInput placeholder="Correo" [(ngModel)]="subdistributors[i].email" name="subEmail" disabled>
              </mat-form-field>

              <mat-form-field class="full-width">
                <input matInput type="number" min="0" max="100" placeholder="Comision" name="subCommission"
                       [(ngModel)]="subdistributors[i].commission">
              </mat-form-field>

              <div class="update-subdistributor">
                <button (click)="updateSubdistributor(subdistributors[i])">Actualizar</button>
              </div>
            </form>

            <h3>Mayoristas</h3>
            <h5 *ngIf="!subdistributor.wholesalers">No tienes mayoristas</h5>
            <!--Wholesalers-->
            <mat-accordion>
              <mat-expansion-panel class="wholesalers"
                                   *ngFor="let wholesaler of subdistributor.wholesalers; let j = index">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ wholesaler.name }}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <form class="form-wrapper inside">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Subdistribuidor" [(ngModel)]="wholesaler.leaderName" name="subName">
                      <mat-option *ngFor="let sub of subList" [value]="sub">
                        {{ sub }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <input matInput type="number" placeholder="Identificacion" [(ngModel)]="wholesaler.identification"
                           name="employeeIdentification">
                  </mat-form-field>

                  <mat-form-field class="full-width">
                    <input matInput placeholder="Nombre" [(ngModel)]="wholesaler.name" name="employeeName">
                  </mat-form-field>

                  <mat-form-field class="full-width">
                    <input matInput placeholder="Telefono" [(ngModel)]="wholesaler.phone" name="employeePhone">
                  </mat-form-field>

                  <mat-form-field class="full-width">
                    <input matInput placeholder="Dirección" [(ngModel)]="wholesaler.address" name="employeeAddress">
                  </mat-form-field>

                  <mat-form-field class="full-width">
                    <input matInput type="number" placeholder="Comisión" [(ngModel)]="wholesaler.commission"
                           name="employeeCommission">
                  </mat-form-field>

                  <mat-form-field class="full-width" *ngIf="wholesaler.user !== undefined">
                    <input matInput placeholder="Correo" [(ngModel)]="wholesaler.user.email"
                           name="employeeUser">
                  </mat-form-field>

                  <mat-form-field class="full-width" *ngIf="wholesaler.user === undefined">
                    <input matInput placeholder="Correo" [(ngModel)]="wholesaler.email"
                           name="employeeUser">
                  </mat-form-field>

                  <div class="update-wholesaler">
                    <button mat-raised-button (click)="updateWholesaler(wholesaler)">Actualizar</button>
                    <button mat-raised-button class="delete-btn" (click)="deleteWholesaler(wholesaler)">Eliminar
                    </button>
                  </div>
                </form>

              </mat-expansion-panel>

              <div class="create-wholesaler">
                <button (click)="openCreateWholesalerDialog(subdistributor.name)">Crear Mayorista</button>
              </div>
            </mat-accordion>
            <!--Wholesalers-->

          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <!--Subdistributors and Wholesalers for Distributor-->
      <!--Wholesalers for Subdistributor-->
      <div *ngIf="employeeType === 'SUBDISTRIBUTOR' && subSelected !== 'Todos'">
        <p>Aqui podras ver todos tus mayoristas, editarlos o crear uno nuevo si lo necesitas.</p>
        <!--Wholesalers-->
        <mat-accordion class="wholesalers">
          <mat-expansion-panel class="wholesaler" *ngFor="let wholesaler  of wholesalers">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ wholesaler.name }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <form class="form-wrapper inside">

              <mat-form-field class="full-width">
                <input matInput type="number" placeholder="Identificacion" [(ngModel)]="wholesaler.identification"
                       name="employeeIdentification">
              </mat-form-field>

              <mat-form-field *ngIf="employeeRole === 'ADMIN'">
                <mat-select placeholder="Subdistribuidor" [(ngModel)]="wholesaler.leaderName" name="leaderName">
                  <mat-option *ngFor="let sub of subList" [value]="sub">
                    {{ sub }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="full-width">
                <input matInput placeholder="Nombre" [(ngModel)]="wholesaler.name" name="employeeName">
              </mat-form-field>

              <mat-form-field class="full-width">
                <input matInput placeholder="Telefono" [(ngModel)]="wholesaler.phone" name="employeePhone">
              </mat-form-field>

              <mat-form-field class="full-width">
                <input matInput placeholder="Dirección" [(ngModel)]="wholesaler.address" name="employeeAddress">
              </mat-form-field>

              <mat-form-field class="full-width">
                <input matInput type="number" placeholder="Comisión" [(ngModel)]="wholesaler.commission"
                       name="employeeCommission">
              </mat-form-field>

              <mat-form-field class="full-width" *ngIf="wholesaler.user !== undefined">
                <input matInput placeholder="Correo" [(ngModel)]="wholesaler.user.email"
                       name="employeeUser">
              </mat-form-field>

              <mat-form-field class="full-width" *ngIf="wholesaler.user === undefined">
                <input matInput placeholder="Correo" [(ngModel)]="wholesaler.email"
                       name="employeeUser">
              </mat-form-field>

              <div class="update-wholesaler">
                <button mat-raised-button (click)="updateWholesaler(wholesaler)">Actualizar</button>
                <button mat-raised-button class="delete-btn" (click)="deleteWholesaler(wholesaler)">Eliminar</button>
              </div>
            </form>

          </mat-expansion-panel>

          <div class="create-wholesaler">
            <button (click)="openCreateWholesalerDialog()">Crear Mayorista</button>
          </div>
        </mat-accordion>
        <!--Wholesalers-->
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
