.title
  font-family: Roboto, "Helvetica Neue", sans-serif
  font-size: 15px
  font-weight: 400

.subdistributor
  .row
    display: flex
    justify-content: space-between

.wholesalers

  .wholesaler
    margin-bottom: 1rem
    position: relative

    .edit
      position: absolute
      top: 2.8rem
      right: 1rem

    .row
      display: flex
      justify-content: space-between

    .create-user
      text-align: center

      button
        width: 60%
        color: white
        background-color: rgba(13, 36, 60, .8)
        border-radius: 10px
        border: none

        &:hover
          background-color: rgba(13, 36, 60, .9)

.create-wholesaler
  text-align: center

  button
    margin-top: 10px
    background-color: rgba(13, 36, 60, .8)
    color: white
    border-radius: 10px
    border: none
    width: 60%
    cursor: pointer

    &:hover
      background-color: rgba(13, 36, 60, .9)

.update-subdistributor
  text-align: center

  button
    margin-top: 10px
    background-color: rgba(13, 36, 60, .8)
    color: white
    border-radius: 10px
    border: none
    width: 60%
    cursor: pointer

    &:hover
      background-color: rgba(13, 36, 60, .9)

.update-wholesaler
  text-align: center

  button
    width: 30%
    color: white
    background-color: rgba(13, 36, 60, .8)
    border-radius: 10px
    border: none
    cursor: pointer

    &:hover
      background-color: rgba(13, 36, 60, .9)

.delete-btn
  background-color: #DB5466 !important

  &:hover
    background-color: #7f3236 !important
