<div class="general-wrapper">
  <form [formGroup]="createForm" (ngSubmit)="createWholesaler()" class="form-wrapper inside create-form">
    <h3>Creación Mayorista</h3>
    <mat-form-field class="full-width" *ngIf="admin && data.subdistributorName === 'null'">
      <mat-select placeholder="Subdistribuidor" [(value)]="subName" required>
        <mat-option *ngFor="let sub of subs" [value]="sub.name">
          {{sub.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="employeeControl.hasError('required')">Seleccione un empleado</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" *ngIf="data.subdistributorName !== 'null'">
      <input matInput placeholder="Subdistribuidor" [(value)]="subName" disabled>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Identificación" formControlName="identification" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Nombre" formControlName="name" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Telefono" formControlName="phone" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Direccion" formControlName="address" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="number" min="0" max="100" placeholder="Comision" formControlName="commission"
             [(ngModel)]="commission" required>
    </mat-form-field>
    <mat-checkbox ([value])="locatable" *ngIf="admin"> Localizable</mat-checkbox>
    <button mat-raised-button type="submit" [disabled]="!createForm.valid" [ngClass]="{'disabled': !createForm.valid}">
      <span *ngIf="!loader">Crear</span>
    </button>
  </form>
</div>
