<div class="general-wrapper">
  <form class="report-form">
    <h2 class="title">Reporte Asignación Prepago</h2>
    <p>Selecciona el subdistribuidor y descarga el reporte de simcards prepago asociadas</p>
    <div class="form-wrapper">

      <mat-form-field class="full-width" *ngIf="employeeRole === 'ADMIN'">
        <mat-select placeholder="Subdistribuidor" [(value)]="distributorName">
          <mat-option *ngFor="let distributor of distributors" [value]="distributor.name">
            {{distributor.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="date1" [(ngModel)]="initialDate" name="initialDate" placeholder="Inicio">
        <mat-datepicker-toggle matSuffix [for]="date1"></mat-datepicker-toggle>
        <mat-datepicker #date1></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="date2" [(ngModel)]="finalDate" name="finalDate" placeholder="Fin">
        <mat-datepicker-toggle matSuffix [for]="date2"></mat-datepicker-toggle>
        <mat-datepicker #date2></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button (click)="downloadReport()"
              [disabled]="distributorName == undefined || initialDate == undefined || finalDate == undefined">
        <span *ngIf="!loader">Descargar</span>
        <mat-spinner *ngIf="loader" diameter="20" color="accent"></mat-spinner>
      </button>
    </div>
  </form>
</div>
