.periods-selector
  display: flex
  justify-content: center
  flex-direction: column
  width: 80%
  margin: 0 auto

.graph-wrapper
  h3, .table
    margin: 0 2rem

.section-hidden
  display: none

.resume-row
  display: flex
  justify-content: space-around

  &.title
    border-bottom: 1px dashed black
    justify-content: center

mat-checkbox
  margin-bottom: 5px

button
  background-color: rgba(13, 36, 60, .8)
  color: white
  border-radius: 10px

  &:hover
    background-color: rgba(13, 36, 60, .9)

.commission-table
  text-align: center
  width: 80%
  margin: 2rem auto

  mat-table
    width: 100%
    border-radius: 5px

    mat-header-row
      background-color: rgba(13, 36, 60, .8)

    mat-header-cell
      text-align: center
      font-weight: bold
      font-size: 15px
      color: white

    mat-cell
      text-align: center
  h2
    width: 100%
    font-weight: bold
  .section-title
    color: rgba(13, 36, 60, 1)
    text-align: left
  .total-label
    margin-top: 15px
    text-align: center

.wrapper
  margin: 2rem auto
  width: 80%
  display: flex
  align-content: center
  align-items: center
  flex-wrap: wrap

  .graph-wrapper
    width: 50%
    min-width: 240px
    flex-grow: 2

    h3
      text-align: center
