<div class="general-wrapper">
  <div class="periods-selector">
    <mat-form-field *ngIf="employeeRole === 'ADMIN'">
      <mat-select placeholder="Subdistribuidor" [(value)]="subSelected" (selectionChange)="refreshSubdistributor()">
        <mat-option *ngFor="let sub of subList" [value]="sub">
          {{ sub }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Periodos" [(value)]="periodSelected" [disabled]="loader">
        <mat-option *ngFor="let period of periods" [value]="period.value">
          {{ period.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button (click)="refreshCharts()" [disabled]="periodSelected == undefined">
      <span *ngIf="!loader">Buscar</span>
      <mat-spinner *ngIf="loader" diameter="20" color="accent"></mat-spinner>
    </button>
  </div>

  <div *ngIf="productionResume" class="commission-table">
    <h2 class="section-title">Producción</h2>

    <mat-table #table [dataSource]="productionResume" class="mat-elevation-z8">
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Descripción</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="prepaid">
        <mat-header-cell *matHeaderCellDef> Prepago</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.prepaid}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="free">
        <mat-header-cell *matHeaderCellDef> Libre</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.free}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <h2 class="total-label">Total: <span>{{totalProduction}}</span></h2>
  </div>

  <div class="wrapper">
    <div class="graph-wrapper" *ngIf="!allWholesalers">
      <div>
        <canvas id="productionByPeriod">{{ productionChartByPeriod }}</canvas>
      </div>
      <h3 *ngIf="productionChartByPeriod">Producción por periodo</h3>
    </div>
  </div>
</div>
