
.general-wrapper
  margin: 2rem auto
  width: 80%
  display: flex
  align-content: center
  align-items: center
  flex-wrap: wrap

  button
    min-width: 250px
    max-width: 350px
    height: 60px
    border-radius: 5px
    margin: 10px
    flex-grow: 2
    background-color: white
    font-size: 15px

    &:hover
      background-color: rgba(13, 36, 60, .9)
      color: white
