<div class="general-wrapper">
  <button mat-raised-button *ngFor="let component of COMPONENTS" [hidden]="!component.visible"
          (click)="openDialog(component.component)">
    {{component.name}}
  </button>
</div>
