<div class="general-wrapper">
  <form class="report-form">
    <h2 class="title">Actualización Numeros por ICC</h2>
    <p>En esta sección podras subir un archivo y actualizar los números de teleéfono de las simcards que necesites
      especificando su ICC</p>
    <div class="form-wrapper">

      <input style="display: none" #fileInput [(ngModel)]="file" type="file" name="file" accept=".csv"/>

      <button *ngIf="file == null || file == undefined" class="add-files-btn" (click)="addFile()">
        Agregar Archivo
      </button>

      <mat-dialog-content *ngIf="file != null && file != undefined" (click)="addFile()">
        <h6 mat-line>{{file}}</h6>
      </mat-dialog-content>

      <button [hidden]="file == null || file == undefined" mat-button (click)="uploadFile()" class="upload-btn">Subir
      </button>
    </div>

  </form>
</div>
