.general-wrapper
  .title
    margin-bottom: 10px

  .form-wrapper

    display: flex
    flex: 1
    flex-direction: column
    padding: 0

    .add-files-btn
      background-color: rgba(13, 36, 60, .8)
      color: white
      border-radius: 10px

      &:hover
        background-color: rgba(13, 36, 60, .9)

    mat-dialog-content
      width: 100%

    .upload-btn
      margin-top: 10px
      background-color: rgba(13, 36, 60, .8)
      color: white
      border-radius: 10px

      &:hover
        background-color: rgba(13, 36, 60, .9)

    .container
      height: 100%

