<div class="general-wrapper">
  <div class="periods-selector">
    <mat-form-field *ngIf="employeeRole === 'ADMIN'">
      <mat-select placeholder="Subdistribuidor" [(value)]="subSelected" (selectionChange)="refreshSubdistributor()">
        <mat-option *ngFor="let sub of subList" [value]="sub">
          {{ sub }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Periodos" [(value)]="periodSelected" [disabled]="loader">
        <mat-option *ngFor="let period of periods" [value]="period.value">
          {{ period.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button (click)="refreshCharts()" [disabled]="periodSelected == undefined">
      <span *ngIf="!loader">Buscar</span>
      <mat-spinner *ngIf="loader" diameter="20" color="accent"></mat-spinner>
    </button>
  </div>

  <div *ngIf="commissionResume.length != 0" class="commission-table">
    <h2 class="section-title">Recargas</h2>

    <mat-table #table [dataSource]="commissionResume" class="mat-elevation-z8">
      <ng-container matColumnDef="employeeName">
        <mat-header-cell *matHeaderCellDef> Empleado</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.employeeName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="prepaidRecharge">
        <mat-header-cell *matHeaderCellDef> Prepago</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.prepaidRecharge}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="freeRecharge">
        <mat-header-cell *matHeaderCellDef> Libre</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.freeRecharge}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <h2 class="total-label">Total: <span>{{totalCommission}}</span></h2>
  </div>

</div>
