.side-menu
  background: url("../../../../assets/sidenav.jpg") no-repeat center
  background-size: cover
  box-shadow: 1px 0px 8px 0px rgba(50, 50, 50, 0.75)
  height: 100vh
  left: -70%
  opacity: 0
  padding: 0.5rem
  position: absolute
  top: 0
  width: 70%
  transition: all 300ms ease-in-out
  z-index: 1

  .side-menu-mask
    background-color: rgba(13, 36, 60, .8)
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    bottom: 0
    z-index: -1

  &.toggle
    opacity: 1
    transform: translateX(100%)

  .logo-container
    border-bottom: solid 2px lightgray
    margin-bottom: 20px

    .logo
      top: 50%
      display: block
      font-family: Pacifico, cursive
      font-size: 1.5rem
      color: white
      text-align: center
      font-style: italic

  .side-nav-items
    .btn-container
      background: none
      box-shadow: none

      .header
        background: none

        .title
          color: white

  button
    font-family: Roboto, "Helvetica Neue", sans-serif
    color: white
    display: block
    width: 100%

.close
  color: white
  font-size: 1rem
  right: 0
  position: absolute
  top: 10px
