<aside [ngClass]="{'side-menu': true, 'toggle': display}">
  <div class="side-menu-mask"></div>
  <div class="logo-container">
    <p class="logo">Belltronic</p>
  </div>
  <mat-icon class="close" (click)="closeMenu()">close</mat-icon>

  <mat-accordion class="side-nav-items">
    <mat-expansion-panel class="btn-container">
      <mat-expansion-panel-header class="header">
        <mat-panel-title class="title">
          Simcards
        </mat-panel-title>
      </mat-expansion-panel-header>

      <button mat-button (click)="redirect('/dashboard/search')">Buscar</button>
      <button mat-button *ngIf="isAdmin" (click)="redirect('/dashboard/pack')">Empaquetar</button>

    </mat-expansion-panel>

    <mat-expansion-panel class="btn-container" *ngIf="subsLoaded">
      <mat-expansion-panel-header class="header">
        <mat-panel-title class="title">
          Finanzas
        </mat-panel-title>
      </mat-expansion-panel-header>

      <button mat-button (click)="redirect('/dashboard/commissions')">Comisiones</button>
      <button mat-button *ngIf="isAdmin || isSub" (click)="redirect('/dashboard/production')">Produccion</button>
      <button mat-button *ngIf="isAdmin || isSub" (click)="redirect('/dashboard/recharges')">Recargas</button>

    </mat-expansion-panel>

    <mat-expansion-panel class="btn-container" *ngIf="subsLoaded">
      <mat-expansion-panel-header class="header">
        <mat-panel-title class="title">
          Archivos
        </mat-panel-title>
      </mat-expansion-panel-header>

      <button mat-button (click)="redirect('/dashboard/reports')">Reportes</button>
      <button mat-button (click)="redirect('/dashboard/upload')">Subida</button>

    </mat-expansion-panel>

    <mat-expansion-panel class="btn-container" *ngIf="subsLoaded">
      <mat-expansion-panel-header class="header">
        <mat-panel-title class="title">
          Administración
        </mat-panel-title>
      </mat-expansion-panel-header>

      <button mat-button (click)="redirect('/dashboard/employees')">Empleados</button>

    </mat-expansion-panel>
  </mat-accordion>
</aside>
