@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'
@import "~bootstrap/dist/css/bootstrap.min.css"
@import "~angular-notifier/styles.scss"

body
  background-image: url("/assets/background-texture.png")
  font-family: Playfair Display, "Helvetica Neue", sans-serif

// BACKGROUNDS

.paper-background
  mat-dialog-container
    background-image: url("/assets/background-texture.png")

// COLORS

.blue-text
  color: #85C1F5

.red-text
  color: #ff656c

.green-text
  color: #7FCA9F
