
.login

  ::ng-deep .mat-form-field-label
    color: #bed7f1

  ::ng-deep .mat-focused .mat-form-field-placeholder
    color: white

  ::ng-deep .mat-input-underline
    background-color: white

  ::ng-deep .mat-form-field-ripple
    background-color: white

  ::ng-deep .mat-form-field
    color: white

  @media only screen and (min-width: 640px)
    background-color: rgba(255, 254, 255, .2)
    width: 550px
  border-radius: 25px
  padding: 10px
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  display: inline-block
  width: 450px
  z-index: 2
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1)

  button
    border-radius: 10px
    background-color: #256ab2
    color: white

    &:hover
      background-color: #113051

.title
  margin-top: 1rem
  font-family: 'Pacifico', cursive
  color: aliceblue
  font-size: 70px

.subtitle
  margin-top: 0.5rem
  font-family: 'Pacifico', cursive
  color: aliceblue
  font-size: 30px
  text-align: center

.remember-password
  color: #cee1f5 !important
  margin-top: 1rem
  text-decoration: none
  font-size: 15px
  cursor: pointer

  &:hover
    text-decoration: underline !important
    color: #113051 !important

mat-form-field.mat-form-field
  font-size: 20px

// BACKGROUND STYLE

.wrapper
  background: #507BA3
  background: -webkit-linear-gradient(top left, #0D243C 0%, #2260a2 100%)
  background: linear-gradient(to bottom right, #0D243C 0%, #2260a2 100%)
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  margin-top: 0
  overflow: hidden
  display: flex
  align-items: center

.bg-bubbles
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1

.bg-bubbles li
  position: absolute
  list-style: none
  display: block
  width: 40px
  height: 40px
  background-color: rgba(255, 255, 255, 0.15)
  bottom: -160px
  -webkit-animation: square 25s infinite
  animation: square 25s infinite
  -webkit-transition-timing-function: linear
  transition-timing-function: linear

.bg-bubbles li:nth-child(1)
  left: 10%

.bg-bubbles li:nth-child(2)
  left: 20%
  width: 80px
  height: 80px
  -webkit-animation-delay: 2s
  animation-delay: 2s
  -webkit-animation-duration: 17s
  animation-duration: 17s

.bg-bubbles li:nth-child(3)
  left: 25%
  -webkit-animation-delay: 4s
  animation-delay: 4s

.bg-bubbles li:nth-child(4)
  left: 40%
  width: 60px
  height: 60px
  -webkit-animation-duration: 22s
  animation-duration: 22s
  background-color: rgba(255, 255, 255, 0.25)

.bg-bubbles li:nth-child(5)
  left: 70%

.bg-bubbles li:nth-child(6)
  left: 80%
  width: 120px
  height: 120px
  -webkit-animation-delay: 3s
  animation-delay: 3s
  background-color: rgba(255, 255, 255, 0.2)

.bg-bubbles li:nth-child(7)
  left: 32%
  width: 160px
  height: 160px
  -webkit-animation-delay: 7s
  animation-delay: 7s

.bg-bubbles li:nth-child(8)
  left: 55%
  width: 20px
  height: 20px
  -webkit-animation-delay: 15s
  animation-delay: 15s
  -webkit-animation-duration: 40s
  animation-duration: 40s

.bg-bubbles li:nth-child(9)
  left: 25%
  width: 10px
  height: 10px
  -webkit-animation-delay: 2s
  animation-delay: 2s
  -webkit-animation-duration: 40s
  animation-duration: 40s
  background-color: rgba(255, 255, 255, 0.3)

.bg-bubbles li:nth-child(10)
  left: 90%
  width: 160px
  height: 160px
  -webkit-animation-delay: 11s
  animation-delay: 11s

@-webkit-keyframes square
  0%
    -webkit-transform: translateY(0)
    transform: translateY(0)
  100%
    -webkit-transform: translateY(-700px) rotate(600deg)
    transform: translateY(-700px) rotate(600deg)

@keyframes square
  0%
    -webkit-transform: translateY(0)
    transform: translateY(0)
  100%
    -webkit-transform: translateY(-1000px) rotate(600deg)
    transform: translateY(-1000px) rotate(600deg)

