<div class="wrapper">
  <form class="login" [formGroup]="loginForm" (ngSubmit)="logIn()">
    <h1 class="title">Belltronic</h1>
    <h3 class="subtitle">Mayoristas</h3>
    <div class="form-wrapper">
      <mat-form-field class="full-width">
        <input matInput placeholder="Usuario" formControlName="userName">
      </mat-form-field>
      <mat-form-field class="full-width input-field">
        <input matInput type="password" placeholder="Contraseña" formControlName="password">
      </mat-form-field>
      <button mat-raised-button>
        <span *ngIf="!loader">Iniciar sesion</span>
        <mat-spinner *ngIf="loader" diameter="20" color="accent"></mat-spinner>
      </button>
      <a class="remember-password" (click)="restorePassword()">Olvide mi Contraseña</a>
    </div>
  </form>
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
